In [1]:
import pickle
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import PolynomialFeatures

from sklearn.pipeline import Pipeline
from sklearn.pipeline import make_pipeline
from sklearn.compose import ColumnTransformer

from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error 
from sklearn.metrics import mean_absolute_error

from sklearn.model_selection import cross_val_score

from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.linear_model import RidgeCV
from sklearn.linear_model import Lasso
from sklearn.linear_model import LassoCV
from sklearn.linear_model import ElasticNet
from sklearn.linear_model import ElasticNetCV

In [3]:
import joblib
ridgeCVregressor = joblib.load(open('RidgeCV_Model.pkl', 'rb'))
preprocessor = joblib.load(open('preprocessor.pkl', 'rb'))

In [4]:
test_input = [[0,0,0,0,0,0,0,0,0,0,0]]

print(test_input)

[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]]

In [7]:
test_input[0][0] = input("\nEnter location: ")
test_input[0][1] = input("\nEnter fuel type: ")
test_input[0][2] = input("\nEnter transmission type: ")
test_input[0][3] = input("\nEnter owner type: ")
test_input[0][4] = input("\nEnter brand name: ")
test_input[0][5] = input("\nEnter year of manufacture: ")
test_input[0][6] = input("\nEnter kilometers driven: ")
test_input[0][7] = input("\nEnter mileage: ")
test_input[0][8] = input("\nEnter engine: ")
test_input[0][9] = input("\nEnter power: ")
test_input[0][10] = input("\nEnter number of seats: ")

In [8]:
print(test_input)

[['Mumbai', 'Petrol', 'Automatic', 'First', 'Hyundai', '2015', '40000', '20.0', '150', '150', '5']]

In [9]:
test_input = np.array(test_input)
test_input = pd.DataFrame(test_input)
test_input

       0       1          2      3        4     5      6     7    8    9  10
0  Mumbai  Petrol  Automatic  First  Hyundai  2015  40000  20.0  150  150  5

In [6]:
# test_input['Location'][0] = input("\nEnter location: ")
# test_input['Fuel_Type'][0] = input("\nEnter fuel type: ")
# test_input['Transmission'][0] = input("\nEnter transmission type: ")
# test_input['Owner_Type'][0] = input("\nEnter owner type: ")
# test_input['Brand'][0] = input("\nEnter brand name: ")
# test_input['Year'][0] = input("\nEnter year of manufacture: ")
# test_input['Kilometers_Driven'][0] = input("\nEnter kilometers driven: ")
# test_input['Mileage'][0] = input("\nEnter mileage: ")
# test_input['Engine'][0] = input("\nEnter engine: ")
# test_input['Power'][0] = input("\nEnter power: ")
# test_input['Seats'][0] = input("\nEnter number of seats: ")

TypeError: list indices must be integers or slices, not str

In [10]:
test_input.columns = ['Location','Fuel_Type','Transmission','Owner_Type','Brand','Year','Kilometers_Driven','Mileage','Engine','Power','Seats']
test_input

,Location,Fuel_Type,Transmission,Owner_Type,Brand,Year,Kilometers_Driven,Mileage,Engine,Power,Seats
0,Mumbai,Petrol,Automatic,First,Hyundai,2015,40000,20.0,150,150,5

In [11]:
test_input_transformed = preprocessor.transform(test_input)
print(test_input_transformed)

  (0, 0)	0.4448614638447756
  (0, 1)	-0.44213967723550335
  (0, 2)	0.3982727358516396
  (0, 3)	-2.5206005205647846
  (0, 4)	0.6790829174699093
  (0, 5)	-0.3243619952401788
  (0, 15)	1.0
  (0, 20)	1.0
  (0, 21)	1.0
  (0, 31)	1.0

In [15]:
test_pred = ridgeCVregressor.predict(test_input_transformed)
test_pred

array([7.39840456])